<div *ngIf="selectedAlgorithm == 'relevant'" class="pt-24 text-center">
  <button (click)="changeAlgorithm('recent')" class="bg-indigo-500 p-2 rounded-lg shadow-lg shadow-indigo-500/50 text-white transform -translate-y-1/2 hover:bg-indigo-400 hover:shadow-indigo-400/50">Recent</button>
</div>

<div *ngIf="selectedAlgorithm == 'recent'" class="pt-24 text-center">
  <button (click)="changeAlgorithm('relevant')" class="bg-indigo-500 p-2 rounded-lg shadow-lg shadow-indigo-500/50 text-white transform -translate-y-1/2 hover:bg-indigo-400 hover:shadow-indigo-400/50">Relevant</button>
</div>

<!-- spinner.component.html -->
<div *ngIf="isLoading" class="flex items-center justify-center p-24">
  <div class="animate-spin rounded-full h-16 w-16 border-t-2 border-b-2 border-gray-200"></div>
</div>

<h2 *ngIf="!noresponse" class="text-2xl max-w-3xl ml-10 sm:ml-18 md:ml-20 lg:ml-44 p-5 text text-gray-200">Top responses</h2>
<div class="flex">
  <h1 *ngIf="noresponse" class="text-2xl max-w-3xl mx-auto p-10 mt-10 pb-24 text justify-center text-gray-200">Auncune réponse disponible pour le moment</h1>
</div>

<div class="flex">
  <h1 *ngIf="recupissues" class="text-2xl max-w-3xl mx-auto p-10 mt-10 pb-24 text justify-center text-gray-200">Une erreur est survenue lors de la récupération des réponses.</h1>
</div>


<div class="flex flex-wrap justify-center">
  <div *ngFor="let response of this.replyService.responses.slice?.(0,sliceIndex), let i = index" [attr.id]="'response-' + i" class="basis-1/4 pb-10 mx-3">
    <div class="py-5 w-full items-center">
      <div class="bg-gray-800 mx-auto max-w-md rounded-3xl">
        <div class="container card p-5 bg-gray-700 rounded-3xl">
          <div class="pr-24 flex items-center">
            <img src="assets/newlogo.png" alt="Description de l'image" class="w-10 h-10 rounded-full mr-4">
            <div>
              <h3 class="text-gray-200">@{{ response.username }}</h3>
            </div>
          </div>
          <h3 class="text-xl mt-5 pb-5 pl-10 pr-10 text break-all text-gray-200"> {{ response.reply }}</h3>
          <p class="text-gray-200">{{ getElapsedTime(response.heure) }}</p>
        </div>
        <div class="flex items-center justify-around text-center">
          <h5 class="text-gray-200 cursor-pointer font-semibold py-2 px-3">
            <img (click)="upvotefn(response)" [src]="response.upvoteimg" alt="">
            <img *ngIf="!response.upvoteimg" (click)="upvotefn(response)" src="assets/arrow.up@2x.png" alt="">
            {{response.upvote}}
          </h5>
          
          <h5 class="text-gray-200 cursor-pointer font-semibold py-2 px-3">
            <img (click)="downvotefn(response)" [src]="response.downvoteimg" alt="">
            <img *ngIf="!response.upvoteimg" (click)="upvotefn(response)" src="assets/arrow.down@2x.png" alt="">
            {{response.downvote}}
          </h5>
          <h5 class="text-gray-200 cursor-pointer font-semibold py-2 px-3">
            <img src="assets/square.and.arrow.up@2x.png" alt="share">
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="replyService.responses.length > 6" class="text-center">
  <button (click)="seemore()" class="bg-indigo-500 p-2 rounded-lg shadow-lg shadow-indigo-500/50 text-white transform -translate-y-1/2 hover:bg-indigo-400 hover:shadow-indigo-400/50">Voir plus</button>
</div>