<div class="flex">
    <div class="div-input w-3/5 max-w-3xl mt-10 pb-5 mx-auto relative">
      <input
        class="input w-full py-2 pl-10 pr-3 leading-5 border border-gray-200 bg-gray-900 text-white rounded-l-full rounded-r-full placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent"
        type="text" placeholder="Answer..." name="reponse"
        [(ngModel)]="reponse" />
    </div>
  </div>
  
  <div class="text-white">Your Reply: <span>{{ reponse }}</span></div>
  