<form class="mt-10 max-w-xl mx-auto">
    <div class="w-full mb-4 border rounded-xl bg-gray-700 border-gray-600">
        <div class="px-4 py-2 bg-white rounded-t-xl dark:bg-gray-800">
            <label for="comment" class="sr-only">Your comment</label>
            <textarea id="comment" rows="3" name="replyContent" class="w-full resize-none focus-visible:outline-none px-0 text-sm 
            text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" 
            placeholder="Write a comment..." required [ngModel]="replyContent" (ngModelChange)="replyContent = $event"></textarea>
        </div>
        <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600">
            <button (click)="onClick()" type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white shadow-lg shadow-cyan-500/50 rounded-lg bg-cyan-500 hover:bg-cyan-400 hover:shadow-cyan-400/50">
                Reply
            </button>
        </div>
    </div>
</form>
