<form #input (ngSubmit)="response()" class="mt-10 mx-auto w-1/2 sm:w-1/2 md:w-1/2 lg:w-1/3 max-w-xl w-56">
    <div class="w-full mb-4 border rounded-xl bg-gray-700 border-gray-600">
        <div class="px-4 py-2 rounded-t-xl bg-gray-800">
            <label for="comment" class="sr-only">Your comment</label>
            <textarea #textera  id="comment" rows="3" name="replyContent" class="w-full resize-none focus-visible:outline-none px-0 text-sm 
            text-gray-900 border-0 bg-gray-800 focus:ring-0 text-white dark:placeholder-gray-400" 
            placeholder="Write a comment..." required [ngModel]="replyContent" (ngModelChange)="replyContent = $event"></textarea>
        </div>
        <div class="flex items-center justify-between px-3 py-2 border-t border-gray-600">
            <button (click)="response()" type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white shadow-lg shadow-cyan-500/50 rounded-lg bg-cyan-500 hover:bg-cyan-400 hover:shadow-cyan-400/50">
                Reply
            </button>
        </div>
    </div>
</form>


<div *ngIf="messageSend" id="toast-simple" class="flex fixed bottom-5 right-5 z-50 bg-white p-4 w-full max-w-xs p-4 space-x-4 text-gray-500 bg-white divide-x divide-gray-200 rounded-lg shadow dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800" role="alert">
    <svg aria-hidden="true" class="w-5 h-5 text-blue-600 dark:text-blue-500" focusable="false" data-prefix="fas" data-icon="paper-plane" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M511.6 36.86l-64 415.1c-1.5 9.734-7.375 18.22-15.97 23.05c-4.844 2.719-10.27 4.097-15.68 4.097c-4.188 0-8.319-.8154-12.29-2.472l-122.6-51.1l-50.86 76.29C226.3 508.5 219.8 512 212.8 512C201.3 512 192 502.7 192 491.2v-96.18c0-7.115 2.372-14.03 6.742-19.64L416 96l-293.7 264.3L19.69 317.5C8.438 312.8 .8125 302.2 .0625 289.1s5.469-23.72 16.06-29.77l448-255.1c10.69-6.109 23.88-5.547 34 1.406S513.5 24.72 511.6 36.86z"></path></svg>
    <div class="pl-4 text-sm font-normal">Reply sent successfully.</div>
</div>

<div *ngIf="messageSend == false" id="toast-warning" class="flex fixed bottom-5 right-5 z-50 bg-white p-4 items-center w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg dark:bg-orange-700 dark:text-orange-200">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Warning icon</span>
    </div>
    <div class="ml-3 text-sm font-normal">{{warningValue}}</div>
    <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-warning" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
</div>
