<h2 class="text-white mx-auto max-w-2xl text-xl text-justify pb-32">You have always dreamed of sharing your experience and knowledge on different topics and ideas from all over the world. A place where everyone can easily contribute their knowledge on any topic, regardless of age, gender, or social background. A chance for everyone to be unique: Discuss.<br><br>

    Every week a question is asked on Discuss. The objective: each user must answer the question in the best possible way, adding relevant information, letting his or her uniqueness shine through, and respecting the opinions of others.<br><br>
    
    The best comments will be highlighted thanks to the upvotes left by the users. Indeed, the more upvotes a comment has (because of its relevance), the better it will be referenced.<br><br>
    
    Don't let your uniqueness in the shade anymore and come share your opinions with the world every week on Discuss !</h2>